index:
  .single-peer
    if videoState == 'off'
      .container
        .enable-message
          | You have both enabled video chat, &sp;
          if isPartnerOnline
            | and you are both online!
          else
            | but your partner is offline.
        if isPartnerOnline
          .icon-play.button(on-click="start()")
            | Start Video &sp;


    ._video-container(class="{{if videoState == 'off'}}-off{{/}}")
      video._remoteVideo(as="remoteVideo", autoplay)
      video._localVideo(as="localVideo", autoplay, muted="true")
      a._stop-button(href="#", on-click="stop()")
        span.icon-cancel


